.MarketBox {
    width: 100%;
}

.AssociatedMarkets {
    margin-top: 4px;
    margin-left: 2px;
    font-family: AirbnbCerealApp-Medium;
    font-weight: 400;
    padding-top: 6px;
    margin-bottom: 6.5px;
    font-size: 11px;
}

