


.Highlight {
    margin-left: 20%;
    margin-right: 30%;
    margin-bottom: 20px;
    margin-top: 15px;
}

.HighlightComingEvents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;

}


.ComingLeftEvent {
    width: calc(50% - 40px);
    margin-right: 20px;
    border-right: 1px solid #e2e2e2;
    text-align: right;
    padding: 0px 20px 0px 0px;
}

.ComingEvent {
    display: inline-block;
    text-align: center;
}

.TimeAway {
    font-family: AirbnbCerealApp-Medium;
    font-size: 12px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    display: inline-block;
    color: #8cedff;
}

.DaysLabel {
    font-family: AirbnbCerealApp-Light;
    font-size: 12px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    display: inline-block;
    margin-left: 4px;
    color: #212121;
}

.ComingRightEvent {
    margin-right: 0px;
    padding-right: 0px;
    border-right: none;
    text-align: left;
}