


.CalendarBox {
    width: 62%;
    height: 11%;
    margin-top: 20px;
    margin-left: 19%;
    overflow-x: scroll;
    border: 1px solid #e8eaec;
    border-bottom: 0.5px solid #e8eaec;
    float: left;
    background: white;

}

.DayBox {
    width: 19.76%;
    border: 1px solid #e8eaec;
    height: 150px;
    padding-bottom: 15px;
    float: left;
    overflow-y: hidden;

}

.InnerDayBox {
    padding: 5px 10px;
    height: 100%;
}

.DateRow {
    margin-bottom: 10px;
    height: 30px;
    font-family: AirbnbCerealApp-Medium;
    margin-top: 10px;
    padding: 0 5px;
    width: 100%;
    color: #101010;
    font-size: 25px;
    line-height: 23px;
    padding: 0;
}

.EventRow {
    font-family: AirbnbCerealApp-Light;
    font-weight: 600;
    padding-top: 3px;
    font-size: 10px;
    font-weight:600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212121;
    margin-bottom: 15px;
    height: 100%;
}

.DayTitle {
    height: 33px;
    width: 100%;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e8eaec;
}

.DOW {

    font-family: AirbnbCerealApp-Medium;
    font-weight: 400;
    padding-top: 6px;
    font-size: 16px;
    justify-content: center;
    text-align: center;
}

.Footer {
    width: 62%;
    height: 11%;
    margin-top: 0px;
    margin-left: 19%;
    overflow-x: scroll;
    border: 1px solid #e8eaec;
    float: left;
}

