

.MarketBlurbBox {
    width: 100%;

}

.Blurb{

        font-family: AirbnbCerealApp-Book;
        font-weight: 400;
        margin-top: 3%;
        padding-top: 6px;
        padding-bottom: 5px;
        margin-left: 5%;
        font-size: 13px;
        text-align: left;
        width: 80%;
        margin-bottom: 3%;
    
   
}

.blurbLink{

    font-family: AirbnbCerealApp-Medium;
    color: #326891;
    font-weight: 400;
    margin-top: 5%;
    padding-top: 6px;
    padding-bottom: 5px;
    font-size: 13px;
    text-align: right;


}