


.HeadlineBox {

    height: 40%;
    margin-bottom: 10px;
    text-align: center;
}

.Headline {

    font-family: AirbnbCerealApp-Medium;
    font-size: 12px;
    font-weight: 800;
    font-size: 47.5px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #204b52;
}

.HeadlineBlurb {
    margin-top: 10px;
    margin-bottom: 15px;
    object-fit: contain;
    font-family: AirbnbCerealApp-Light;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212121;
}